# Python
__pycache__/
*.py[cod]

# Env
.env
.env.*

# Node
node_modules/

# Build / runtime
dist/
build/

# Media
media/
uploads/
extracted/
migrations/

# DB
*.sqlite3

# OS
.DS_Store

# git rm -r --cached media/