# Extra dependencies
loguru
python-dotenv

# Django dependencies
Django
djangorestframework
drf-spectacular
djangorestframework-simplejwt
djangorestframework-jwt
django-cors-headers
chromadb

# Processing dependencies
docling # 4GB
Pillow
transformers
groq
serpapi