Flask
flask-cors
Flask-SocketIO
google-genai
loguru
numpy
pillow
tqdm

pydub
pyfiglet
sentence-transformers
opencv-python
moviepy
diffusers 
invisible_watermark
transformers
accelerate
safetensors
serpapi
google-search-results
groq

djangorestframework
djangorestframework-simplejwt
docling
psycopg[binary]
# pytubefix
pytube
openai-whisper # for audio transcription by Docling
